input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

body {
	background-color: #fcfcfc;
}

h1 {
	@apply text-3xl font-bold mb-4 inline-block relative;
}

.label {
	@apply block mb-1;
	@apply text-gray-700;
	@apply text-xs font-bold tracking-wide uppercase;
}

.input {
	@apply appearance-none block w-full px-4 py-3;
	@apply bg-gray-200 text-gray-700 border-gray-200;
	@apply rounded border leading-tight outline-none font-light tracking-wide;

	transition-duration: 0.2s;
	transition-property: background-color, color, border;
	transition-timing-function: ease-in-out;
}

.input:focus {
	@apply bg-white border-primary-500;
}

.icon-button {
	@apply inline-flex justify-center w-8 h-8 items-center rounded-full cursor-pointer;
}

.icon-button:hover {
	@apply bg-gray-200;
}

[aria-label] {
	position: relative;
}

[aria-label]:after {
	@apply hidden absolute px-2 py-1;
	@apply text-xs bg-gray-900 text-white font-light;
	@apply whitespace-no-wrap z-50 rounded;

	content: attr(aria-label);
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
}

[aria-label]:hover:after,
[aria-label]:focus:after {
	display: block;
} 
