input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

h1 {
	@apply text-3xl font-bold mb-4 inline-block relative;
}

h1::after {
	@apply block absolute w-0 h-4 bg-primary-400 opacity-75;

	content: "";
	bottom: 0.5rem;
	left: 0.5rem;
	z-index: -1;

	transition-duration: 0.2s;
	transition-property: width;
	transition-timing-function: ease-in-out;
}

h1:hover::after {
	@apply w-full;
}

.label {
	@apply block mb-1;
	@apply text-gray-700;
	@apply text-xs font-bold tracking-wide uppercase;
}

.input {
	@apply appearance-none block w-full px-4 py-3;
	@apply bg-gray-200 text-gray-700 border-gray-200;
	@apply rounded border leading-tight outline-none font-light tracking-wide;

	transition-duration: 0.2s;
	transition-property: background-color, color, border;
	transition-timing-function: ease-in-out;
}

.input:focus {
	@apply bg-white border-primary-500;
}

/* [aria-label] {
	position: relative;
}

[aria-label]:after {
	content: attr(aria-label);
	display: none;
	position: absolute;
	bottom: 120%;
	left: 0px;
	z-index: 5000;
	pointer-events: none;
	padding: 8px 10px;
	line-height: 15px;
	white-space: nowrap;
	text-decoration: none;
	text-indent: 0;
	overflow: visible;
	font-size: 0.9em;
	font-weight: normal;
	color: #fff;
	text-shadow: 1px 0 1px #888;
	background-color: #412917;
	border-left: 6px solid #d37092;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

[aria-label]:hover:after,
[aria-label]:focus:after {
	display: block;
} */
